@using ToDo.MvcUI.Areas.Admin.Models
@using ToDo.MvcUI.Areas.Admin.ViewModels
@model ProjectParticipantViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .jobparticipantimg {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid lightgray;
        margin: 1px 0px 0px 1px;
    }
</style>

@section customStyles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

}
@section customScripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            //new DataTable('#userList');
            new DataTable('#projectUserList', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
                },
                "columnDefs": [{
                    "targets": 4,
                    "orderable": false,
                },
                {
                    "targets": 5,
                    "orderable": false,
                }],
            });

            $(".btnAdd").click(function () {

                $("#txtDuty").val();
                $("#userSelect").val();
                $("#projectSelect").val();
                $("#projectUserAddModal").modal("show");
            });

            $("#btnSave").click(function () {

                var duty = $("#txtDuty").val();
                var userId = $("#userSelect").val();
                var projectId = $("#projectSelect").val();

                var fd = new FormData();
                fd.append("duty", duty);
                fd.append("userId", userId);
                fd.append("projectId", projectId);



                $.ajax({
                    url: "/Admin/ProjectParticipant/Save",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {

                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    $("#btnClear").trigger("click");
                                    $("#projectUserAddModal").modal("hide");

                                    window.location.href = "/Admin/ProjectParticipant/Index";







                                    // elemanın yaptığı kaydı html içindeki table a bir tr daha ekleyerek göster

                                    //$("#projectUserList tbody").append("<tr><td></td><td>" + response.projectName + "</td><td>" + response.userNameSurname + "</td><td>" + duty + "</td><td><button type='button' class='btn btn-danger btnDelete' departmentId='" + response.id + "'>SİL</button></td><td><button type='button' class='btn btn-warning btnEdit' departmentId='" + response.id + "'>DÜZENLE</button></td></tr>");

                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });

            $(".btnDelete").click(function () {

                // $(this) --> bu olayı çalıştıran html elementidir
                var id = $(this).attr("projecparticipantId");

                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Silme işlemi geri alınamaz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // sunucuya veriyi gönderip silinmesini sağlayacağız

                        $.ajax({
                            url: "/Admin/ProjectParticipant/Delete/" + id,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire('İşlem Başarılı', response.message, 'success').then(() => {
                                        window.location.href = "/Admin/ProjectParticipant/Index";
                                    });

                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }

                                    Swal.fire('İşlem Başarısız', response.message + "<br />" + errors, 'error')
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire('İşlem İptal Edildi', '', 'info')
                    }
                })
            });

            $(".btnEdit").click(function () {

                var id = $(this).attr("projecparticipantId");

                $.ajax({
                    url: "/Admin/ProjectParticipant/GetProjectParticipant/" + id,
                    method: "post",
                    datatype: "json",


                    success: function (response) {
                        $("#txtDutyEdit").val(response.duty);
                        $("#userEditSelect").val(response.userId);
                        $("#projectEditSelect").val(response.projectId);
                        $("#hfparticipantId").val(id);

                        $("#projectparticipantModal").modal("show");
                    }
                });

            });

            $("#btnUpdate").click(function () {

                var duty = $("#txtDutyEdit").val();
                var userId = $("#userEditSelect").val();
                var projectId = $("#projectEditSelect").val();
                var id = $("#hfparticipantId").val();

                var fd = new FormData();
                fd.append("id", id);
                fd.append("duty", duty);
                fd.append("userId", userId);
                fd.append("projectId", projectId);



                $.ajax({
                    url: "/Admin/ProjectParticipant/Update",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {

                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    //------------------------------------------------

                                    $("#projectparticipantModal").modal("hide");
                                    window.location.href = "/Admin/ProjectParticipant/Index";

                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });

        });
    </script>
}



<div class="card">
    <div class="card-header">
        <h3 class="card-title">Proje Ekipleri Yönetimi</h3>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="list-group-item">
                        <button type="button" class="btn btn-light btnAdd"><i class="fa fa-add"></i>Ekle</button>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <a href="/Admin/ProjectParticipant/Index" class="btn btn-primary">Tümü</a>
                            </div>
                            <div class="col-auto">
                                @foreach (var item in Model.Projects)
                                {
                                    <a href="/Admin/ProjectParticipant/Index/@item.Id" class="btn btn-secondary">@item.Name</a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="projectUserList" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Proje Adı</th>
                                    <th>Personel</th>
                                    <th>Görevi</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProjectParticipants)
                                {


                                    <tr>
                                        <td></td>
                                        <td>@item.Project.Name</td>
                                        <td><img src='@item.User.PicturePath' class="jobparticipantimg" /> @item.User.Name @item.User.Surname </td>
                                        <td>@item.Duty</td>
                                        <td>
                                            <button id="btnDelete" type="button" class="btn btn-danger btnDelete" projecparticipantId='@item.Id'>SİL</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning btnEdit" projecparticipantId='@item.Id'>
                                                DÜZENLE
                                            </button>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Proje Adı</th>
                                    <th>Personel</th>
                                    <th>Görevi</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" data-backdrop="static" id="projectUserAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proje Ekibi Ekleme Formu</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>



                    <div class="card-body">
                        <div class="form-group">
                            <label>Proje</label>
                            <select id="projectSelect" class="form-control">
                                <option selected value="-1">Proje Seciniz</option>
                                @foreach (var project in Model.Projects)
                                {
                                    <option value="@project.Id">@project.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Personel</label>
                            <select id="userSelect" class="form-control">
                                <option selected value="-1">Personel Seciniz</option>
                                @foreach (var user in Model.Users)
                                {
                                    <option value="@user.Id">@user.Name @user.Surname</option>
                                   
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Görevi</label>
                            <input type="text" class="form-control" id="txtDuty" placeholder="Görevi">
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClear" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-backdrop="static" id="projectparticipantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proje Ekibi Düzenleme Formu</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>
                    @*Aşağıdaki hidden input içerisinde güncellenmek istenen  id si tutuluyor. btnEdit e tıklandığında hangi kategorinin güncelleneceği bu inputtan okunabilir.*@
                    <input type="hidden" id="hfparticipantId" />

                    <div class="card-body">


                        <div class="form-group">
                            <label>Proje</label>
                            <select id="projectEditSelect" class="form-control">
                                <option selected value="-1">Proje Seciniz</option>
                                @foreach (var project in Model.Projects)
                                {
                                    <option value="@project.Id">@project.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Personel</label>
                            <select id="userEditSelect" class="form-control">
                                <option selected value="-1">Hizmet Seciniz</option>
                                @foreach (var user in Model.Users)
                                {
                                    <option value="@user.Id">@user.Name @user.Surname</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Görevi</label>
                            <input type="text" class="form-control" id="txtDutyEdit" placeholder="Görevi">
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btnUpdate" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClearEdit" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>






