@using ToDo.MvcUI.Areas.Admin.Models
@using ToDo.MvcUI.Areas.Admin.ViewModels
@model UserViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .jobparticipantimg {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid lightgray;
        margin: 1px 0px 0px 1px;
    }
</style>

@section customStyles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

}
@section customScripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            //new DataTable('#userList');
            new DataTable('#userList', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
                },
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false,
                },
                {
                    "targets": 1,
                    "orderable": false,
                },
                {
                    "targets": 9,
                    "orderable": false,
                },
                {
                    "targets": 10,
                    "orderable": false,
                }],
            });

            $(".btnAdd").click(function () {

                $("#fuUserPhoto").val();
                $("#txtUserName").val();
                $("#txtUserSurname").val();
                $("#txtEmail").val();
                $("#txtUserNickname").val();
                $("#txtUserPassword").val();
                $("#departmentSelect").val();
                $("#userAddModal").modal("show");
            });


            $("#btnSave").click(function () {

                var file = $("#fuUserPhoto").get(0).files[0];
                var name = $("#txtUserName").val();
                var surname = $("#txtUserSurname").val();
                var email = $("#txtEmail").val();
                var duty = $("#txtDuty").val();
                var nickname = $("#txtUserNickname").val();
                var password = $("#txtUserPassword").val();
                var departmentId = $("#departmentSelect").val();
                var fd = new FormData();
                fd.append("userPhoto", file);
                fd.append("name", name);
                fd.append("surname", surname);
                fd.append("email", email);
                fd.append("duty", duty);
                fd.append("nickname", nickname);
                fd.append("password", password);
                fd.append("departmentId", departmentId);

                //var formDataObject = {
                //    Name: $("txtUserName").val(),
                //    Surname: $("txtUserSurname").val(),
                //    Email: $("txtEmail").val(),
                //    UserPhoto: formData,

                //};

                $.ajax({
                    url: "/Admin/User/Save",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {
                
                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {
                

                                    $("#btnClear").trigger("click");

                                    $("#userAddModal").modal("hide");

                                    window.location.href = "/Admin/User/Index";


                                  /*  $("#userList tbody").append("<tr><td><img src='data:image/jpeg;base64," + response.userPicture + "' style='width:150px;' /></td><td><img src='" + response.picturePath + "' style='width:150px;' /></td><td>" + response.departmentName + "</td><td>" + name + "</td><td>" + surname + "</td><td>" + email + "</td><td>" + duty + "</td><td>" + nickname + "</td><td>" + password + "</td><td><button type='button' class='btn btn-danger btnDelete' userId='" + response.id + "'>SİL</button></td><td><button type='button' class='btn btn-warning btnEdit' userId='" + response.id + "'>DÜZENLE</button></td></tr>");*/

                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });

            $(".btnDelete").click(function () {

                // $(this) --> bu olayı çalıştıran html elementidir
                var id = $(this).attr("userId");

                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Silme işlemi geri alınamaz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // sunucuya veriyi gönderip silinmesini sağlayacağız

                        $.ajax({
                            url: "/Admin/User/Delete/" + id,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire('İşlem Başarılı', response.message, 'success').then(() => {
                                        window.location.href = "/Admin/User/Index";
                                    });

                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }

                                    Swal.fire('İşlem Başarısız', response.message + "<br />" + errors, 'error')
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire('İşlem İptal Edildi', '', 'info')
                    }
                })
            });

            $(".btnEdit").click(function () {

                var id = $(this).attr("userId");

                $.ajax({
                    url: "/Admin/User/GetUser/" + id,
                    method: "post",
                    datatype: "json",


                    success: function (response) {
                        $("#txtUserNameEdit").val(response.name);
                        $("#txtUserSurnameEdit").val(response.surname);
                        $("#txtEmailEdit").val(response.email);
                        $("#txtDutyEdit").val(response.duty);
                        $("#txtNicknameEdit").val(response.nickname);
                        $("#txtPasswordEdit").val(response.password);
                        $("#departmentEditSelect").val(response.departmentId);
                        $("#imgUserPhotoEdit").attr("src", response.picturePath);
                        $("#hfUserId").val(id);

                        $("#exampleModal").modal("show");
                    }
                });

            });

            $("#btnUpdate").click(function () {

                var file = $("#fuUserPhotoEdit").get(0).files[0];
                var name = $("#txtUserNameEdit").val();
                var surname = $("#txtUserSurnameEdit").val();
                var email = $("#txtEmailEdit").val();
                var duty = $("#txtDutyEdit").val();
                var nickname = $("#txtNicknameEdit").val();
                var password = $("#txtPasswordEdit").val();
                var departmentId = $("#departmentEditSelect").val();
                var id = $("#hfUserId").val();
                var fd = new FormData();
                fd.append("id", id);
                fd.append("userPhoto", file);
                fd.append("name", name);
                fd.append("surname", surname);
                fd.append("email", email);
                fd.append("duty", duty);
                fd.append("nickname", nickname);
                fd.append("password", password);
                fd.append("departmentId", departmentId);

                //var formDataObject = {
                //    Name: $("txtUserName").val(),
                //    Surname: $("txtUserSurname").val(),
                //    Email: $("txtEmail").val(),
                //    UserPhoto: formData,

                //};

                $.ajax({
                    url: "/Admin/User/Update",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {
                        //if (response.isSuccess) {
                        //    Swal.fire('İşlem Başarılı', response.message, 'success')
                        //    $("#btnClear").trigger("click");
                        //}
                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {
                      

                                    $("#exampleModal").modal("hide");

                                    window.location.href = "/Admin/User/Index";

                                   

                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });

        });
    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personel Yönetimi</h3>
            </div>
            <div class="list-group-item">
                <button type="button" class="btn btn-light btnAdd"><i class="fa fa-add"></i>Ekle</button>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <strong>Departmanlar</strong>
                        <div class="col-auto mb-1">
                            <a href="/Admin/User/Index" class="btn btn-primary">Tümü</a>
                        </div>
                        <div class="col-auto">
                            @foreach (var item in Model.Departments)
                            {
                                <a href="/Admin/User/Index/@item.Id" class="btn btn-secondary my-1">@item.Name</a>
                            }
                        </div>
                    </div>
                </div>
            </div>



            @*<div class="list-group-item">

            <button class="btn btn-sm float-right"><i class="fa fa-add"></i>Personel Ekle</button>
        </div>*@
            <div class="card-body">
                <table id="userList" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>#</th>
                            <th>Departman</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Email</th>
                            <th>Görevi</th>
                            <th>Kullanıcı Adı</th>
                            <th>Şifre</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {


                            <tr>
                                <td>
                                    @*@if (!string.IsNullOrEmpty(item.UserPicture))
                                {
                                    <img src='@($"data:image/jpeg;base64,{item.UserPicture}")' style="width:150px;" />

                                }
                                else
                                {
                                    "Resim yok";
                                }*@
                                </td>
                                <td>
                                    <img src='@item.PicturePath' style="width:150px;" />
                                </td>
                                <td>@item.DepartmentName</td>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Email</td>
                                <td>@item.Duty</td>
                                <td>@item.Nickname</td>
                                <td>@item.Password</td>
                                <td>
                                    <button id="btnDelete" type="button" class="btn btn-danger btnDelete" userId='@item.Id'>SİL</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning btnEdit" userId='@item.Id'>
                                        DÜZENLE
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>#</th>
                            <th>Departman</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Email</th>
                            <th>Görevi</th>
                            <th>Kullanıcı Adı</th>
                            <th>Şifre</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

    </div>
</div>



<div class="modal fade" data-backdrop="static" id="userAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Personel Ekleme Formu</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Departman</label>
                            <select id="departmentSelect" class="form-control">
                                <option selected value="-1">Departman Seciniz</option>
                                @foreach (var department in Model.Departments)
                                {
                                    <option value="@department.Id">@department.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Adı</label>
                            <input type="text" class="form-control" id="txtUserName" placeholder="Ad Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Soyadı</label>
                            <input type="text" class="form-control" id="txtUserSurname" placeholder="Soyad Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Email</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Email Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Görevi</label>
                            <input type="text" class="form-control" id="txtDuty" placeholder="Görevi Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="txtUserNickname" placeholder="Kullanıcı Adı Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Şifre</label>
                            <input type="text" class="form-control" id="txtUserPassword" placeholder="Şifre Giriniz">
                        </div>


                        <div class="form-group">
                            <label for="exampleInputFile">Resim</label>
                            <div class="input-group">
                                @*<label for="exampleInputFile" class="form-label">Dosya Seçiniz</label>*@
                                <input class="form-control" type="file" id="fuUserPhoto">
                            </div>
                        </div>
                        @*<div class="form-group">
            <label for="exampleInputFile">Resim</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fuUserPhoto">
                    <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                </div>
            </div>
        </div>*@


                    </div>

                    <div class="card-footer">
                        <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClear" type="reset" style="display:none;"></button>

                </form>

            </div>
        </div>
    </div>
</div>



<!--<div class="card">
    <div class="card-header">
        <h3 class="card-title">Personel Yönetimi</h3>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">




            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Yeni Personel Kayıt Formu</h3>
                    </div>
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Departman</label>
                                <select id="departmentSelect" class="form-control">
                                    <option selected value="-1">Departman Seciniz</option>
                                    @foreach (var department in Model.Departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Adı</label>
                                <input type="text" class="form-control" id="txtUserName" placeholder="Ad Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Soyadı</label>
                                <input type="text" class="form-control" id="txtUserSurname" placeholder="Soyad Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Email</label>
                                <input type="email" class="form-control" id="txtEmail" placeholder="Email Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Kullanıcı Adı</label>
                                <input type="text" class="form-control" id="txtUserNickname" placeholder="Kullanıcı Adı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Şifre</label>
                                <input type="text" class="form-control" id="txtUserPassword" placeholder="Şifre Giriniz">
                            </div>


                            <div class="form-group">
                                <label for="exampleInputFile">Resim</label>
                                <div class="input-group">-->
                                    @*<label for="exampleInputFile" class="form-label">Dosya Seçiniz</label>*@
                                    <!--<input class="form-control" type="file" id="fuUserPhoto">
                                </div>
                            </div>-->
                            @*<div class="form-group">
                                    <label for="exampleInputFile">Resim</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="fuUserPhoto">
                                            <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                        </div>
                                    </div>
                                </div>*@


                        <!--</div>

                        <div class="card-footer">
                            <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
                        </div>


                        <button id="btnClear" type="reset" style="display:none;"></button>

                    </form>
                </div>







            </div>
        </div>
    </div>
</div>-->


<div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Personel Düzenleme Formu</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>
               
                    <input type="hidden" id="hfUserId" />

                    <div class="card-body">

                        <div class="form-group justify-content-center align-items-center mb-3">
                            <img class="jobparticipantimg" id="imgUserPhotoEdit" />
                        </div>

                        <div class="form-group">
                            <label>Departman</label>
                            <select id="departmentEditSelect" class="form-control">
                                <option selected value="-1">Departman Seciniz</option>
                                @foreach (var department in Model.Departments)
                                {
                                    <option value="@department.Id">@department.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı</label>
                            <input type="text" class="form-control" id="txtUserNameEdit" placeholder="Ad Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Soyadı</label>
                            <input type="text" class="form-control" id="txtUserSurnameEdit" placeholder="Soyad Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" id="txtEmailEdit" placeholder="Email Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Görevi</label>
                            <input type="text" class="form-control" id="txtDutyEdit" placeholder="Görevi Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="txtNicknameEdit" placeholder="Kullanıcı Adı Giriniz">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName">Şifre</label>
                            <input type="text" class="form-control" id="txtPasswordEdit" placeholder="Şifre Giriniz">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Resim</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fuUserPhotoEdit">
                                    <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="btnUpdate" type="button" class="btn btn-primary">Kaydet</button>
                    </div>


                    <button id="btnClearEdit" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>






