@using ToDo.MvcUI.Areas.Admin.Models
@model List<ContactItem>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section customStyles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

}
@section customScripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            //new DataTable('#userList');
            new DataTable('#contactList', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
                },
            });

         


         

            $(".btnDelete").click(function () {

                // $(this) --> bu olayı çalıştıran html elementidir
                var id = $(this).attr("contactId");

                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Silme işlemi geri alınamaz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil!',
                    cancelButtonText: 'Vazgeç!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // sunucuya veriyi gönderip silinmesini sağlayacağız

                        $.ajax({
                            url: "/Admin/Contact/Delete/" + id,
                            method: "post",
                            datatype: "json",
                            success: function (response) {
                                if (response.isSuccess) {
                                    Swal.fire('İşlem Başarılı', response.message, 'success')
                                    window.location.href = "/Admin/Contact/Index";

                                }
                                else {
                                    var errors = "";
                                    for (var i = 0; i < response.errorMessages.length; i++) {
                                        errors += response.errorMessages[i] + "<br />";
                                    }

                                    Swal.fire('İşlem Başarısız', response.message + "<br />" + errors, 'error')
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire('İşlem İptal Edildi', '', 'info')
                    }
                })
            });

            $(".btnEdit").click(function () {

                var id = $(this).attr("contactId");

                $.ajax({
                    url: "/Admin/Contact/GetContact/" + id,
                    method: "post",
                    datatype: "json",


                    success: function (response) {
                        $("#txtNameSurnameEdit").val(response.nameSurname);
                        $("#txtPhoneEdit").val(response.phone);
                        $("#txtSubjectEdit").val(response.subject);
                        $("#txtEmailEdit").val(response.email);
                        $("#hfContactId").val(id);

                        $("#contactModal").modal("show");
                    }
                });

            });

        

        });
    </script>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Mesaj Yönetimi</h3>
    </div>
  
    <div class="card-body">
        <table id="contactList" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Adı Soyadı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Konu</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
                {
                    <tr>
                        <td>@(item.Index + 1)</td>
                        <td>@item.Value.NameSurname</td>
                        <td>@item.Value.Email</td>
                        <td>@item.Value.Phone</td>
                        <td>@item.Value.Subject</td>
                        <td>
                            <button id="btnDelete" type="button" class="btn btn-danger btnDelete" contactId='@item.Value.Id'>SİL</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btnEdit" contactId='@item.Value.Id'>
                                DETAY
                            </button>
                        </td>
                    </tr>
                }



            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Adı Soyadı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Konu</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>



<div class="modal fade" data-backdrop="static" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">İletişim Detay</h1>
                @*<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>*@
            </div>
            <div class="modal-body">
                <form>
                    @*Aşağıdaki hidden input içerisinde güncellenmek istenen kategorinin id si tutuluyor. btnEdit e tıklandığında hangi kategorinin güncelleneceği bu inputtan okunabilir.*@
                    <input type="hidden" id="hfContactId" />

                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adı Soyadı</label>
                            <input type="text" class="form-control" id="txtNameSurnameEdit" placeholder="Adı Soyadı">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" id="txtEmailEdit" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefon</label>
                            <input type="text" class="form-control" id="txtPhoneEdit" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Konu</label>
                            <textarea class="form-control" id="txtSubjectEdit" rows="3"></textarea>
                        </div>
                    </div>
                    <!-- /.card-body -->

                  


                    <button id="btnClearEdit" type="reset" style="display:none;"></button>

                </form>
            </div>
        </div>
    </div>
</div>






