@{
    ViewData["Title"] = "Home Page";
}

@model AllViewModel
<!-- Section - Services -->
<!-- Service 3 - Bootstrap Brain Component -->
<section id="scrollspyServices" class="py-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container mb-5 mb-md-6 mb-xl-10">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 text-center">
                <h2 class="display-3 fw-bolder mb-4">Mükemmeli elde etmek için <br> <mark class="bsb-tpl-highlight bsb-tpl-highlight-yellow"><span class="bsb-tpl-font-hw display-1 text-accent fw-normal">hizmetlerimizden</span></mark> faydalanabilirsiniz.</h2>
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-5 gx-md-4 gy-lg-0 gx-xxl-5 justify-content-center">
            @foreach (var item in Model.services)
            {
                <div class="col-11 col-sm-6 col-lg-3">
                    <div class="badge bsb-tpl-bg-yellow text-primary p-3 mb-4">
                        <i class="fa fa-project-diagram fs-5"></i>
                    </div>
                    <h4 class="mb-3"> @item.Name</h4>
                    <p class="mb-3 text-secondary">
                        @item.Description
                    </p>
                </div>
            }

        </div>
    </div>
</section>


<!-- Section - About -->
<section id="scrollspyAbout" class="bsb-tpl-bg-alice-blue py-5 py-xl-8 bsb-section-py-xxl-1">
    <!-- FAQ 1 - Bootstrap Brain Component -->
    <div class="container">
        <div class="row gy-5 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid rounded" loading="lazy" src="/web-template/assets/Images/about-img-1.png" alt="">
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <h2 class="display-3 fw-bolder mb-4">Bizim <mark class="bsb-tpl-highlight bsb-tpl-highlight-blue"><span class="bsb-tpl-font-hw display-1 text-accent fw-normal">çözümcül</span></mark><br>yöntemleriniz sizin tercih sebebiniz olacaktır.</h2>
                        @foreach (var item in Model.about)
                        {
                            <p class="fs-4 mb-5">@item.About</p>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fact 1 - Bootstrap Brain Component -->
    <div class="container pt-5 pt-xl-8 bsb-section-pt-xxl-1">
        <div class="row gy-4">
            <div class="col-12 col-sm-6 col-xl-3">

                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                        <div class="btn btn-primary bsb-btn-circle bsb-btn-circle-4xl pe-none mb-2 bsb-tpl-bg-yellow text-primary border-0">
                            <i class="fa fa-user fs-2"></i>
                        </div>
                        <h3 class="h1 mb-2">@Model.UserCount</h3>
                        <p class="fs-5 mb-0 text-secondary">Personel</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                        <div class="btn btn-primary bsb-btn-circle bsb-btn-circle-4xl pe-none mb-2 bsb-tpl-bg-green text-primary border-0">
                           <i class="fa fa-industry fs-2"></i>
                        </div>
                        <h3 class="h1 mb-2">@Model.ServiceCount</h3>
                        <p class="fs-5 mb-0 text-secondary">Hizmet Alanı</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                        <div class="btn btn-primary bsb-btn-circle bsb-btn-circle-4xl pe-none mb-2 bsb-tpl-bg-pink text-primary border-0">
                            <i class="fa fa-droplet fs-2"></i>
                        </div>
                        <h3 class="h1 mb-2">@Model.ProjectCount</h3>
                        <p class="fs-5 mb-0 text-secondary">Proje</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body text-center p-4 p-xxl-5">
                        <div class="btn btn-primary bsb-btn-circle bsb-btn-circle-4xl pe-none mb-2 bsb-tpl-bg-cyan text-primary border-0">
                            <i class="fa fa-building fs-2"></i>
                        </div>
                        <h3 class="h1 mb-2">@Model.DepartmentCount</h3>
                        <p class="fs-5 mb-0 text-secondary">Departman</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section - Team -->
<!-- Team 1 - Bootstrap Brain Component -->
<section id="scrollspyTeam" class="py-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container mb-5 mb-md-6 mb-xl-10">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 text-center">
                <h2 class="display-3 fw-bolder mb-4">Ekibimiz <br><mark class="bsb-tpl-highlight bsb-tpl-highlight-yellow"><span class="bsb-tpl-font-hw display-1 text-accent fw-normal">yenilikçi</span></mark> deneyimli, professiyonal kişilerden oluşmaktadır.</h2>
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-4 gy-lg-0 gx-xxl-5">
            @foreach (var item in Model.users)
            {
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                        <div class="card-body p-0">
                            <figure class="m-0 p-0">
                                <img class="img-fluid" style="min-height:300px !important; object-fit:cover; " loading="lazy" src="@item.PicturePath" alt="">
                                <figcaption class="m-0 p-4">
                                    <h4 class="mb-1">@item.Name @item.Surname</h4>
                                    <p class="text-secondary mb-0">@item.Duty</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>

<section id="scrollspyPortfolio" class="bsb-tpl-bg-alice-blue py-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container mb-5 mb-md-6 mb-xl-10">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 text-center">
                <h2 class="display-3 fw-bolder mb-4">Projelerimizle tanışın ve <br><mark class="bsb-tpl-highlight bsb-tpl-highlight-yellow"><span class="bsb-tpl-font-hw display-1 text-accent fw-normal">hızlı bir baslangıç</span></mark> yaparak sizde başarın.</h2>
            </div>
        </div>
    </div>
    @*<div class="container">
            <div class="row gy-2 g-md-2 g-xl-3 bsb-project-2-grid">
                @foreach (var item in Model.projects)
                {

                <div class="col-12 col-sm-6 col-xl-3">

                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <div class="btn btn-primary bsb-btn-circle bsb-btn-circle-4xl pe-none mb-2 bsb-tpl-bg-yellow text-primary border-0">
                                <i class="fa fa-list">
                                </i>
                            </div>
                            <h3 class="h1 mb-2">@item.Name</h3>
                            <p class="fs-5 mb-0 text-secondary">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>*@

    <div class="container">
        <div class="row gy-4">
            @foreach (var item in Model.projects)
            {
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <div class="btn btn-primary bsb-btn-circle bsb-btn-circle-4xl pe-none mb-2 bsb-tpl-bg-yellow text-primary border-0">
                               <i class="fa fa-tasks fs-2"></i>
                            </div>
                            <h3 class="h1 mb-2">@item.Name</h3>
                            <p class="fs-5 mb-0 text-secondary">@item.Description</p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

</section>
<!-- Section - Contact -->
<!-- Contact 2 - Bootstrap Brain Component -->
<section id="scrollspyContact" class="py-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container">
        <div class="text-center">
            <h2 class="h1 mb-3">İletişim</h2>
        </div>
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <div class="w-100">
                    <div class="">
                        <form class="form-inline">
                            <input type="text" class="form-control mb-2 mr-sm-2" id="txtNameSurname" placeholder="Ad Soyad">
                            <input type="email" class="form-control mb-2 mr-sm-2" id="txtEmail" placeholder="E-Mail">
                            <input type="text" class="form-control mb-2 mr-sm-2" id="txtPhone" placeholder="Telefon">
                            <div class="form-group">
                                <textarea class="form-control" id="txtSubject" rows="3" placeholder="Konu"></textarea>
                            </div>

                            <button id="btnClear" type="reset" style="display:none;"></button>


                            <button id="btnSave" type="button" class="btn btn-primary my-2">Gönder</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                      
                        <p class="lead fs-4 text-secondary mb-5">Her zaman yeni müşterilerle çalışmak için sabırsızlanıyoruz. Bizimle çalışmak ilginizi çekiyorsa lütfen aşağıdaki yollardan biriyle iletişime geçin.</p>
                        <div class="d-flex mb-4">
                            <div class="me-4 text-primary">
                                <i class="fa fa-location-dot fs-2"></i>
                            </div>
                            <div>
                                <h4 class="mb-3">Adres</h4>
                                <address class="mb-0 text-secondary">Çorum, Türkiye</address>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="me-4 text-primary">
                                <i class="fa fa-phone fs-2"></i>

                            </div>
                            <div>
                                <h4 class="mb-3">Telefon</h4>
                                <p class="mb-0">
                                    <a class="link-secondary text-decoration-none">(505) xxx-xxxx</a>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="me-4 text-primary">
                                <i class="fa fa-mail-bulk fs-2"></i>

                            </div>
                            <div>
                                <h4 class="mb-3">E-Mail</h4>
                                <p>
                                    <a class="link-secondary text-decoration-none">demo@yourdomain.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section customStyles{
 
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

}

@section customScripts {
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnSave").click(function () {

                var name = $("#txtNameSurname").val();
                var email = $("#txtEmail").val();
                var phone = $("#txtPhone").val();
                var subject = $("#txtSubject").val();
                var fd = new FormData();
                fd.append("nameSurname", name);
                fd.append("email", email);
                fd.append("phone", phone);
                fd.append("subject", subject);



                $.ajax({
                    url: "/Admin/Contact/Save",
                    method: "post",
                    datatype: "json",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (response) {

                        if (response.isSuccess) {
                            Swal.fire({
                                title: 'İşlem Başarılı',
                                text: response.message,
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    $("#btnClear").trigger("click");



                                }
                            });
                        }

                        else {
                            Swal.fire('İşlem Başarısız', response.message, 'error')
                        }
                    }
                })
            });
        });
    </script>
}
